/test/

# Default
.import/
*.translation
export_presets.cfg
.mono/
build/

# Ignore unrelated addons
addons/*/

# Exclude
!addons/GDEditor
!addons/explore-editor-theme

addons/GDEditor/Definitions
addons/GDEditor/Saves
